{% extends "main/base.html" %}
{% block content %}
    <a href="{% url 'production:get_items' %}" class="">refresh</a>
    <div class="w-full mx-auto">
        {% for order in orders %}
            <div>{{ order.no }}</div>
            <div>{{ order.item.name }}</div>
        {% endfor %}
        {% for routing in routings %}
            <div>{{ routing.order.no }}</div>
            <div>{{ routing.order.item.name }}</div>
            <div>{{ routing.machine_center_no }}</div>
        {% endfor %}
    </div>
{% endblock content %}
