<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="{% block meta_description %}{% endblock meta_description %}">
        <meta name="keywords"
              content="{% block meta_keywords %}{% endblock meta_keywords %}">
        <title>Test</title>
    </head>
    <body>
        <a href="{% url 'gl:test2' %}">refresh</a>
        {% for nc in net_changes %}
            <div>{{ nc.account.name }}</div>
            <div>{{ nc.amount }}</div>
            <div>{{ nc.start_date }}</div>
            <div>{{ nc.end_date }}</div>
        {% endfor %}
    </body>
</html>
